// FONT FAMILY
$font_main: 'Montserrat', sans-serif;
$font_second: 'Crimson Text', sans-serif;

//FONT WEIGHT
$bold: 700;
$semibold: 600;
$black: 900;
$light: 300;

// FONT SIZE
$size: 13;

// SITE WIDTH
$site_width: 1210px;

// COLOR
$white01: #ffffff;
$white02: #f2f2f2;

$grey01: #f0f2f7;
$grey02: #e3e8f0;
$grey03: #e4e5e7;
$grey04: #b9bfd3;
$grey05: #a1a7bd;
$grey06: #2d2e33;
$grey07: #494b4f;

$green01: #00e2aa;
$green02: #00deea;

$blue01: #497e04;
$blue02: #b9bed1;
$blue03: #2754eb;
$blue04: #343e5c;
$blue05: #2754eb;
$blue06: #3e425a;
$blue07: #3a405b;

$black01: #000000;
$black02: #1c1e23;
$black03: #222328;

// COLOR
$main_color: $blue04;

